* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.pictureDiv img {
  width: 10vw;
}

img {
  width: 10vw;
}

body {
  height: 100vh;
}

.mainDiv {
  margin: auto;
  background-color: wheat;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5%;
  gap: 5vw;
}

button {
  background-color: rgb(100, 148, 251);
  border-radius: 5px;
  width: 8vw;
  height: 10vh;
  margin: 10px;
  border: none;
  color: white;
  font-size: 1vw;
}

button:hover {
    background: rgb(100, 100, 255);
}

.header {
  background-color: gray;
  width: 100vw;
  text-align: center;
}

.header img {
  width: 10vw;
  border: 7px solid green
}

.endText {
  color: gold;
  text-align: center;
  margin-top: 5vh;
}